# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
ENV/

# Django stuff
*.sqlite3
db.sqlite3
/staticfiles

# Environment files
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db